<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta property="og:url" content="http://mindup.io"/>
    <meta property="og:title" content="MindUp - Messagerie anonyme de proximité"/>
    <meta property="og:image" content="http://mindup.io/img/mindup-logo.png"/>
    <meta property="og:site_name" content="MindUp"/>
    <meta property="og:description" content="Application de messagerie instantanée de proximité, anonyme, massive, incoercible. MindUp permet de diffuser anonymement des messages aux gens qui t'entourent !"/>
    <meta property="fb:admins" content="754287449" />
    <title>MindUp - Tirage au sort</title>
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon-180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png">
    <link rel="shortcut icon" href="img/favicon-96.ico">
    <meta name="msapplication-TileImage" content="img/favicon-144.png">
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/landing.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/font-awesome-4.3.0/css/font-awesome.min.css">
    <style type="text/css">
      #terms p img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }

      section {
        padding-bottom: 30px;
      }

      #terms p i {
        font-size: 11px;
      }


    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
      var shiftWindow = function() { scrollBy(0, -74) };
      window.addEventListener("hashchange", shiftWindow);
      function load() { 
        if (window.location.hash) shiftWindow();
      }
    </script>
  </head>
  <body onload="load()">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56701142-1', 'auto');
      ga('send', 'pageview');
    </script>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="hamburger" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="" src="img/hibou-128.gif" height="64" width="64"></a>
            <ul class="nav navbar-nav mindup-large-screen hidden-xs">
              <li class="navbar-left"><a href="/">MindUp</a></li>
            </ul>
            <a class="navbar-brand mindup-small-screen visible-xs" href="#"><span>MindUp</span></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Accueil</a>
              </li>
              <li>
                <a href="/#download">Télécharger</a>
              </li>
              <li>
                <a href="/#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="terms">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Tirage au sort</h1>
            <h2>Jouez et tentez de remporter un iPhone 6 !</h2>
            <p>À l'occasion du lancement de MindUp en France, nous sommes heureux de vous proposer un iPhone 6 Silver 128 Go (neuf) à gagner dès maintenant !</p>
            <p><img src="/img/jeu.jpg" alt=""></p>
            <h2>Comment participer :</h2>
            <ul>
              <li>Liker la <a href="https://www.facebook.com/MindUpOfficial">page officielle de MindUp</a></li>
              <li>Partager la <a href=" https://www.facebook.com/MindUpOfficial/photos/a.888204554534350.1073741828.888146501206822/951205021567636/">publication Facebook</a></li>
              <li>Envoyer votre email depuis le formulaire "contactez-nous" de l'application</li>
            </ul>
            <p>Cliquez ici pour télécharger MindUp <a href="https://play.google.com/store/apps/details?id=io.mindup.mindup">Android</a>, <a href="https://itunes.apple.com/fr/app/mindup-dont-be-quiet/id977815852">iOS</a> ou <a href="http://eepurl.com/bpjWMT">Windows Phone</a>.</p>
            <p>Les inscriptions prendront fin lundi 8 juin à 21h (UTC+2).</p>
            <h2>Remise du lot :</h2>
            <p>Le tirage au sort sera effectué mardi 9 juin à 8h, après vérification du like et du partage, nous vous communiquerons le résultat via l'application.</p>
            <p>Le lot vous sera expédié à l'adresse de votre choix, partout dans le monde, dans le courant de la semaine qui suit le tirage au sort par DHL.</p>
            <p><strong>L'équipe MindUp vous remercie de votre participation et vous souhaite bonne chance !</strong></p>
            <p>&nbsp;</p>
            <p><i>Ce jeu est gratuit sans obligation d’achat et ouvert à toute personne majeure (âgée d’au moins 18 ans), à l’exception des collaborateurs et représentants de la « Société Organisatrice », ainsi qu’à toute personne ayant directement ou indirectement participé à la conception, à la réalisation ou à la gestion du concours, ainsi qu’aux membres de leur foyer sous peine d’élimination d’office. Aucune contrepartie financière, ni dépense sous quelque forme que ce soit, ne sera réclamée aux participants du fait de leur participation. Le simple fait de participer au Jeu implique l'acceptation sans restriction ni réserve du présent règlement. La Société Organisatrice tranchera en dernier ressort toute contestation. Les contestations ne seront recevables que dans un délai d'un mois à compter de la date de fin du Jeu.
              La Société Organisatrice ne saurait être tenue responsable si, pour des raisons indépendantes de sa volonté (cas fortuit ou force majeure) ainsi que tout autre événement considéré par elle comme rendant impossible l'exécution du Jeu dans les conditions initialement prévues, le Jeu était partiellement ou totalement modifié, reporté ou annulé.
              Les participants, s'ils sont gagnants, autorisent la Société Organisatrice du Jeu à utiliser à titre indicatif leurs noms et prénoms sans restriction ni réserve et sans que cela lui confère une rémunération, un droit ou un avantage quelconque autre que l'attribution de son prix.
              Le participant est informé que les données le concernant qui lui sont demandées, sont nécessaires pour le traitement de sa participation au Jeu.</i></p>
          </div>
        </div>
      </div> 
    </section>

    <footer>
      <div class="container">
        <nav class="navbar">
          <ul class="nav navbar-nav">
            <li>Copyright &copy; MindUp 2014-2015</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/MindUpOfficial" data-toggle="tooltip" data-placement="top" title="Suivez-nous sur Facebook !"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="https://twitter.com/MindUpOfficial" data-toggle="tooltip" data-placement="top" title="Suivez-nous sur Twitter !"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="/">Accueil</a></li>
            <li><a href="/#download">Télécharger</a></li>
            <li><a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#99;&#111;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6d;&#x69;&#x6e;&#x64;&#117;&#112;&#x2e;&#105;&#111;" data-toggle="tooltip" data-placement="top" title="Coucou&nbsp;:)">Contact</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>  
  </body>
</html>
