<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <meta property="og:url" content="http://mindup.io"/>
    <meta property="og:title" content="MindUp - Messagerie anonyme de proximité"/>
    <meta property="og:image" content="http://mindup.io/img/mindup-logo.png"/>
    <meta property="og:site_name" content="MindUp"/>
    <meta property="og:description" content="Application de messagerie instantanée de proximité, anonyme, massive, incoercible. MindUp permet de diffuser anonymement des messages aux gens qui t'entourent !"/>
    <meta property="fb:admins" content="754287449" />
    <title>MindUp - Press Resources</title>
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon-180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon-192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png">
    <link rel="shortcut icon" href="img/favicon-96.ico">
    <meta name="msapplication-TileImage" content="img/favicon-144.png">
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/landing.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/font-awesome-4.3.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
      var shiftWindow = function() { scrollBy(0, -74) };
      window.addEventListener("hashchange", shiftWindow);
      function load() { 
        if (window.location.hash) shiftWindow();
      }
    </script>
  </head>
  <body onload="load()">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56701142-1', 'auto');
      ga('send', 'pageview');
    </script>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="hamburger" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="" src="img/hibou-128.gif" height="64" width="64"></a>
            <ul class="nav navbar-nav mindup-large-screen hidden-xs">
              <li class="navbar-left"><a href="/">MindUp</a></li>
            </ul>
            <a class="navbar-brand mindup-small-screen visible-xs" href="#"><span>MindUp</span></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Accueil</a>
              </li>
              <li>
                <a href="/#download">Télécharger</a>
              </li>
              <li>
                <a href="/#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="press">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Press Resources</h1>

            <h2>Press release:</h2>
            <p id="revision"><i>Last revision : 1 sept. 2015</i></p>
            <p id="pdf-release"><a href="pr/mindup-fr.pdf"><span><i class="fa fa-file-pdf-o"></i> Télécharger la dernière version au format PDF</span></a></p>
            <h3>MindUp, qu’est-ce que c’est ? Comment ça marche ?</h3>
            <p>Nous connaissons tous WhatsApp, cette application de messagerie instantanée qui permet d’échanger gratuitement des messages avec ses contacts. MindUp est un WhatsApp anonyme et de proximité. Lorsque vous partagez une pensée (mind), elle est envoyée aux  personnes les plus proches de votre position géographique. Ces destinataires, que vous n’aurez pas vraiment choisis, vont pouvoir réagir à votre mind, en vous répondant, en aimant (like) ou en le partageant (up). Ces réactions vont vous faire gagner des points qui vont vous permettre d’augmenter la portée de vos prochains minds.</p>
            <h3>L’audience n’est plus réservée aux stars</h3>
            <p>L’idée originale de 3 jeunes ingénieurs français, Blaise Thirard, Arnaud Valensi et Mathieu Nayrolles, qui partent du principe que chaque individu, quel que soit son milieu socioculturel, a quelque chose d’intéressant à partager avec le reste du monde.</p>
            <p>Avec MindUp, qui que vous soyez, vous serez jugés pour ce que vous dites et non pour qui vous êtes, car seul le contenu de votre message compte.</p>
            <h3>Vous ne communiquez pas avec vos amis, et c’est là tout l’intérêt</h3>
            <p>Avec les réseaux sociaux actuels, nous choisissons les personnes que nous souhaitons suivre ainsi que les sujets qui nous intéressent et dont nous souhaitons être informés. Ce faisant, nous nous enfermons dans notre milieu socioculturel et nous privons de ce que d’autres personnes pourraient nous apporter. MindUp permet d’ouvrir son esprit, de s’ouvrir à de nouvelles personnes, à de nouvelles opinions et à de nouveaux sujets de discussion.</p>
            <h3>N’y a-t-il pas un risque de dérive ?</h3>
            <p>MindUp est avant tout une application qui se veut bon enfant, où règnent la bonne humeur et l’entraide. Elle n’est pas destinée à colporter des rumeurs ou tout autre propos médisant.</p>
            <p>De plus, un système automatisé permet de détecter et de sanctionner automatiquement les propos injurieux. Les membres qui utilisent MindUp afin de partager du contenu original et intéressant, sont récompensés par des points.</p>
            <p>Ce système permet de faire un filtrage à priori du contenu, ce qui est inédit avec la plupart des applications et réseaux sociaux actuels. Ainsi, les personnes qui ont tendance à partager des minds intéressants disposent d’une large audience et les personnes dont les minds ne suscitent aucun intérêt voient leur zone de diffusion se réduire.</p>
            <h3>Comment l’anonymat est-il garanti ?</h3>
            <p>Comme chacun sait, aucun programme, aucune technologie n’est infaillible, nul acteur du web n’est donc en mesure de garantir l’absolue sécurité des informations qu’il recueille sur ses utilisateurs. <a href="http://www.lemonde.fr/technologies/article/2014/01/02/les-donnees-de-4-6-millions-d-utilisateurs-de-snapchat-publiees-sur-internet_4342383_651865.html">Snapchat</a>, <a href="http://www.lesechos.fr/06/05/2014/lesechos.fr/0203483119854_nouveau-piratage-massif-de-donnees-personnelles-chez-orange.htm">Orange</a>, <a href="http://www.lefigaro.fr/societes/2011/04/27/04015-20110427ARTFIG00495-sony-victime-du-pire-piratage-de-son-histoire.php">Sony</a> et de nombreux autres géants du web ont pu en faire l’amère expérience.</p>
            <p>Pourtant, les ingénieurs de MindUp ont fait une découverte fantastique, une de celles qui pourrait à tout jamais changer notre relation à la technologie, une découverte tellement incroyable qu’il semble impensable que personne n’y ait pensé avant eux. Cette avancée majeure dans le domaine de la sécurité informatique permet de garantir une confidentialité absolue des informations personnelles des utilisateurs. Le secret ? MindUp ne récupère tout simplement <a href="policy">aucune information personnelle</a> ! Pas de nom, de numéro de téléphone, d’adresse email, de compte, de mot de passe ou de liste de contact, rien !</p>
            <p>S’il n’y a rien à pirater, rien ne sera dérobé, la solution était pourtant simple.</p>

            <div id="contact-press">
              <div>
                <p><strong>Contact relations médias</strong></p>
                <p>Blaise Thirard</p>
                <p><a href="mailto:&#x62;&#x6c;&#97;&#x69;&#x73;&#101;&#46;&#116;&#x68;&#105;&#114;&#97;&#114;&#x64;&#64;&#x6d;&#x69;&#x6e;&#100;&#117;&#x70;&#x2e;&#105;&#x6f;">&#98;&#108;&#x61;&#x69;&#115;&#101;&#x2e;&#x74;&#104;&#105;&#114;&#x61;&#114;&#x64;&#64;&#109;&#x69;&#x6e;&#x64;&#117;&#112;&#46;&#105;&#111;</a></p>
                <p><a href="tel:&#43;&#x33;&#51;&#54;&#x36;&#x34;&#x38;&#57;&#x35;&#50;&#54;&#x32;">&#x30;&#54;&#32;&#54;&#52;&#32;&#56;&#57;&#32;&#53;&#x32;&#32;&#x36;&#50;</a></p>
              </div>
            </div>

            <h2>Screenshots:</h2>

            <div id="screenshots">
              <a href="img/screenshot-1.png"><img src="img/screenshot-1.png" width="240px" height="427px"></a>
              <a href="img/screenshot-2.png"><img src="img/screenshot-2.png" width="240px" height="427px"></a>
              <a href="img/screenshot-3.png"><img src="img/screenshot-3.png" width="240px" height="427px"></a>
            </div>

            <h2>Graphic Resources:</h2>

            <article>
              <p><img src="/ressources/mindup-logo.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-logo-4500.png">4500x4500</a> -
                <a href="/ressources/mindup-logo.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-transparent.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-transparent-3000.png">3000x3750</a> -
                <a href="/ressources/mindup-logo.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-32.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-32-8000.png">8000x8000</a> -
                <a href="/ressources/mindup-32.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-37.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-37-8500.png">8500x8500</a> -
                <a href="/ressources/mindup-37.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-2.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-2-2400.png">2400x1000</a> -
                <a href="/ressources/mindup-2.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-4.jpg" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-4-1920.jpg">1920x1200</a> -
                <a href="/ressources/mindup-4.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-5.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-5-7365.png">7365x5295</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-8.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-8-2500.png">2500x2500</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-13.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-13-6500.png">6500x6600</a> -
                <a href="/ressources/mindup-13.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-16.jpg" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-16-2560.jpg">2560x1440</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-20.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-20-5000.png">5000x5000</a> -
                <a href="/ressources/mindup-20.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-23.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-23-1602.png">1602x2011</a> -
                <a href="/ressources/mindup-23.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-23-2.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-23-2-2880.png">2880x5120</a> -
                <a href="/ressources/mindup-23-2.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-23-3.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-23-3-4800.png">4800x2700</a> -
                <a href="/ressources/mindup-23-3.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-24.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-24-7200.png">7200x7200</a> -
                <a href="/ressources/mindup-24.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-30.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-30-6500.png">6500x6500</a> -
                <a href="/ressources/mindup-30.psd">PSD</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-34.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-34-1924.png">1924x1924</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-35.jpg" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-35-1920.jpg">1920x1080</a>
              </aside>     
            </article>

            <article>
              <p><img src="/ressources/mindup-38.png" class="img-responsive"></p>
              <aside>
                <a href="/ressources/mindup-38-8000.png">8000x8000</a>
              </aside>     
            </article>

            <h2>They are talking about us:</h2>

            <ul>
              <li>[FR] <a href="http://www.programme-tv.net/news/buzz/65820-adieu-secret-bonjour-mindup-actu-reseaux-sociaux/">Télé-Loisirs : <i>Adieu Secret, bonjour MindUp...</i></a></li>
            </ul>


          </div>
        </div>
      </div> 
    </section>

    <footer>
      <div class="container">
        <nav class="navbar">
          <ul class="nav navbar-nav">
            <li>Copyright &copy; MindUp 2014-2015</li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/MindUpOfficial" data-toggle="tooltip" data-placement="top" title="Suivez-nous sur Facebook !"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="https://twitter.com/MindUpOfficial" data-toggle="tooltip" data-placement="top" title="Suivez-nous sur Twitter !"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="/">Accueil</a></li>
            <li><a href="/#download">Télécharger</a></li>
            <li><a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#99;&#111;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6d;&#x69;&#x6e;&#x64;&#117;&#112;&#x2e;&#105;&#111;" data-toggle="tooltip" data-placement="top" title="Coucou&nbsp;:)">Contact</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>  
  </body>
</html>
