/*-----------------------------------*\
>  Variables
\*-----------------------------------*/
/*-----------------------------------*\
>  Miscelaneous
\*-----------------------------------*/
/* line 28, landing.scss */
html, body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: #E74C3C;
}

/* line 34, landing.scss */
body {
  padding-top: 74px;
}

/* line 38, landing.scss */
section {
  background-color: #ecf0f1;
}

/* line 42, landing.scss */
.blue-btn {
  color: white;
  background-color: #34495E;
  border-color: #1A2530;
}

/* line 48, landing.scss */
.blue-btn:hover, .blue-btn:focus, .blue-btn:active, .blue-btn.active, .open .dropdown-toggle.blue-btn {
  color: white;
  background-color: #2C3E50;
  border-color: #1A2530;
}

/* line 54, landing.scss */
.blue-btn:active, .blue-btn.active, .open .dropdown-toggle.blue-btn {
  background-image: none;
}

/* line 58, landing.scss */
.blue-btn.disabled, .blue-btn[disabled], fieldset[disabled] .blue-btn, .blue-btn.disabled:hover, .blue-btn[disabled]:hover, fieldset[disabled] .blue-btn:hover, .blue-btn.disabled:focus, .blue-btn[disabled]:focus, fieldset[disabled] .blue-btn:focus, .blue-btn.disabled:active, .blue-btn[disabled]:active, fieldset[disabled] .blue-btn:active, .blue-btn.disabled.active, .blue-btn[disabled].active, fieldset[disabled] .blue-btn.active {
  background-color: #34495E;
  border-color: #1A2530;
}

/* line 63, landing.scss */
.blue-btn .badge {
  color: #34495E;
  background-color: white;
}

/* line 68, landing.scss */
.red-btn {
  color: white;
  background-color: #E74C3C;
  border-color: #af2e24;
}

/* line 74, landing.scss */
.red-btn:hover, .red-btn:focus, .red-btn:active, .red-btn.active, .open .dropdown-toggle.red-btn {
  color: white;
  background-color: #CF4436;
  border-color: #af2e24;
}

/* line 80, landing.scss */
.red-btn:active, .red-btn.active, .open .dropdown-toggle.red-btn {
  background-image: none;
}

/* line 84, landing.scss */
.red-btn.disabled, .red-btn[disabled], fieldset[disabled] .red-btn, .red-btn.disabled:hover, .red-btn[disabled]:hover, fieldset[disabled] .red-btn:hover, .red-btn.disabled:focus, .red-btn[disabled]:focus, fieldset[disabled] .red-btn:focus, .red-btn.disabled:active, .red-btn[disabled]:active, fieldset[disabled] .red-btn:active, .red-btn.disabled.active, .red-btn[disabled].active, fieldset[disabled] .red-btn.active {
  background-color: #E74C3C;
  border-color: #af2e24;
}

/* line 89, landing.scss */
.red-btn .badge {
  color: #E74C3C;
  background-color: white;
}

/*-----------------------------------*\
>  Header
\*-----------------------------------*/
/* line 98, landing.scss */
header .navbar-inner {
  min-height: 0px;
}

/* line 102, landing.scss */
.navbar-brand, header .navbar-nav li a {
  line-height: 74px;
  height: 74px;
  padding-top: 0;
  font-size: 1.3em;
}

/* line 109, landing.scss */
header .mindup-large-screen .navbar-left a {
  padding-left: 0;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 115, landing.scss */
header .mindup-small-screen {
  text-align: center;
  display: table;
  table-layout: fixed;
  float: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -11px;
}

/* line 125, landing.scss */
header .mindup-small-screen span {
  margin-left: -11px;
}

@media (max-width: 767px) {
  /* line 130, landing.scss */
  header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
    background-color: #34495E;
    box-shadow: none;
  }

  /* line 134, landing.scss */
  header .navbar-nav li a {
    line-height: 37px;
    height: 37px;
    padding-top: 0;
    font-size: 1.3em;
  }

  /* line 140, landing.scss */
  header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
    border-color: #34495E !important;
  }

  /* line 143, landing.scss */
  header #hamburger {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 9px;
  }
}
/* line 150, landing.scss */
.navbar-brand {
  padding-top: 11px;
}

/* line 154, landing.scss */
.navbar-default {
  background: rgba(231, 76, 60, 0.95);
  border-color: #E74C3C;
}
/* line 157, landing.scss */
.navbar-default .navbar-brand {
  color: white;
}
/* line 159, landing.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
/* line 161, landing.scss */
.navbar-default .navbar-text {
  color: white;
}
/* line 165, landing.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}
/* line 167, landing.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
/* line 170, landing.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #E74C3C;
}
/* line 174, landing.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #E74C3C;
}
/* line 177, landing.scss */
.navbar-default .navbar-toggle {
  border-color: #E74C3C;
}
/* line 179, landing.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #E74C3C;
}
/* line 181, landing.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
/* line 183, landing.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}
/* line 186, landing.scss */
.navbar-default .navbar-link {
  color: white;
}
/* line 188, landing.scss */
.navbar-default .navbar-link:hover {
  color: white;
}

@media (max-width: 767px) {
  /* line 192, landing.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  /* line 194, landing.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
  }
  /* line 197, landing.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #E74C3C;
  }
}
/*-----------------------------------*\
>  Description
\*-----------------------------------*/
/* line 206, landing.scss */
#description {
  background-image: url("../img/map.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ecf0f1;
  height: 480px;
}

/* line 227, landing.scss */
#description h1 {
  text-align: right;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 #E74C3C, 2px 2px 0 #E74C3C;
}

/* line 236, landing.scss */
#description h2 {
  text-align: right;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #E74C3C, 2px 2px 0 #E74C3C;
}

/* line 246, landing.scss */
#description p {
  text-align: right;
  color: white;
}

/*-----------------------------------*\
>  Download
\*-----------------------------------*/
/* line 256, landing.scss */
#download {
  text-align: center;
  overflow-x: hidden;
}

/* line 261, landing.scss */
#download img {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*-----------------------------------*\
>  Carousel
\*-----------------------------------*/
/* line 270, landing.scss */
#useCase .carousel {
  height: 480px;
}

/* line 274, landing.scss */
#useCase .carousel-inner .item, #useCase .carousel-inner .active, #useCase .carousel-inner .carousel-inner {
  height: 480px;
}

/* line 278, landing.scss */
#useCase .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 288, landing.scss */
#useCase .carousel-caption {
  top: auto;
  bottom: 160px;
}

/* line 293, landing.scss */
#useCase .carousel-caption h2 {
  font-size: 4em;
}

@media (max-width: 992px) {
  /* line 298, landing.scss */
  #useCase .carousel {
    height: 240px;
  }

  /* line 301, landing.scss */
  #useCase .carousel-inner .item, #useCase .carousel-inner .active, #useCase .carousel-inner .carousel-inner {
    height: 240px;
  }

  /* line 304, landing.scss */
  #useCase .carousel-caption {
    top: auto;
    bottom: 80px;
  }

  /* line 308, landing.scss */
  #useCase .carousel-caption h2 {
    font-size: 2em;
  }
}
/*-----------------------------------*\
>  Contact
\*-----------------------------------*/
/* line 317, landing.scss */
#contact {
  background-color: #34495E;
}

/* line 321, landing.scss */
#contact textarea {
  resize: vertical;
}

/* line 325, landing.scss */
#contact h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ecf0f1;
}

/* line 332, landing.scss */
#contact form button {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 40px;
}

/*-----------------------------------*\
>  Newsletter
\*-----------------------------------*/
/* line 342, landing.scss */
#newsletter {
  background-color: #34495E;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

/* line 349, landing.scss */
#newsletter h2 {
  margin: 0;
  line-height: 46px;
}

/* line 354, landing.scss */
#newsletter .col-md-4 {
  margin-top: 20px;
}

/* line 358, landing.scss */
#newsletter .col-md-4:first-child {
  height: 46px;
  text-align: right;
}

/* line 363, landing.scss */
#newsletter .col-md-4:last-child {
  text-align: left;
}

/* line 367, landing.scss */
#newsletter input {
  width: 100% !important;
}

@media (max-width: 992px) {
  /* line 372, landing.scss */
  #newsletter .col-md-4 {
    text-align: center !important;
  }
}
/*-----------------------------------*\
>  Showroom
\*-----------------------------------*/
/* line 381, landing.scss */
#showroom {
  background-color: #34495E;
}

/* line 385, landing.scss */
#showroom .container {
  background-image: url("../img/showroom.png");
  background-position: center center;
  background-size: 992px;
  background-repeat: no-repeat;
  height: 763px;
}

@media (max-width: 992px) {
  /* line 394, landing.scss */
  #showroom .container {
    background-size: 496px;
    background-repeat: no-repeat;
    height: 382px;
  }
}
/*-----------------------------------*\
>  Social
\*-----------------------------------*/
/* line 409, landing.scss */
#social h2 {
  text-align: center;
  margin-top: 5px;
}

/* line 414, landing.scss */
#social #facebook-widget, #social #twitter-widget {
  padding: 15px;
  margin: 0;
}

/* line 419, landing.scss */
#social .fb-border {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: white;
}

/* line 427, landing.scss */
#social .fb_iframe_widget, #social .fb_iframe_widget span, #social .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

/* line 431, landing.scss */
#social .fb-like-box, #social .twitter-timeline {
  width: 100% !important;
}

/* line 435, landing.scss */
#social .fb-like-box {
  background-color: white;
}

/*-----------------------------------*\
>  Footer
\*-----------------------------------*/
/* line 443, landing.scss */
footer {
  background-color: #E74C3C;
  color: white;
}

/* line 448, landing.scss */
footer .navbar {
  margin: 0;
  border: none;
}

/* line 453, landing.scss */
footer .navbar-nav li, footer .navbar-nav li a {
  line-height: 50px;
  height: 50px;
  padding-top: 0;
  color: white;
}

/* line 460, landing.scss */
footer .navbar-nav li a:hover,
footer .navbar-nav li a:active,
footer .navbar-nav li a:visited,
footer .navbar-nav li a.mailto:hover,
footer .navbar-nav li a.mailto:active,
footer .navbar-nav li a.mailto:visited {
  background-color: #CF4436;
}

@media (max-width: 767px) {
  /* line 470, landing.scss */
  footer .navbar-nav li {
    text-align: center;
  }
}
/*-----------------------------------*\
>  Policy
\*-----------------------------------*/
/* line 479, landing.scss */
#policy p {
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 484, landing.scss */
#policy p a, #policy p a:hover {
  color: #E74C3C;
}
