/*-----------------------------------*\
>  Variables
\*-----------------------------------*/

$blue           : #34495E;
$blue-dark      : #2C3E50;
$blue-darker    : #1A2530;
$red            : #E74C3C;
$red-dark       : #CF4436;
$red-darker     : #af2e24;
$grey-light     : #ecf0f1;
$grey           : #a9a9a9;
$grey-dark      : #444444;

$bgDefault      : $red;
$bgHighlight    : $red;
$colDefault     : white;
$colHighlight   : white;

$header-height  : 74px;
$footer-height  : 50px;
$carousel-height : 480px;

/*-----------------------------------*\
>  Miscelaneous
\*-----------------------------------*/

html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: $red;
}

body {
    padding-top: $header-height;
}

section {
    background-color: $grey-light;
}

.blue-btn {
    color: white;
    background-color: $blue;
    border-color: $blue-darker;
}

.blue-btn:hover, .blue-btn:focus, .blue-btn:active, .blue-btn.active, .open .dropdown-toggle.blue-btn {
    color: white;
    background-color: $blue-dark;
    border-color: $blue-darker;
}

.blue-btn:active, .blue-btn.active, .open .dropdown-toggle.blue-btn {
    background-image: none;
}

.blue-btn.disabled, .blue-btn[disabled], fieldset[disabled] .blue-btn, .blue-btn.disabled:hover, .blue-btn[disabled]:hover, fieldset[disabled] .blue-btn:hover, .blue-btn.disabled:focus, .blue-btn[disabled]:focus, fieldset[disabled] .blue-btn:focus, .blue-btn.disabled:active, .blue-btn[disabled]:active, fieldset[disabled] .blue-btn:active, .blue-btn.disabled.active, .blue-btn[disabled].active, fieldset[disabled] .blue-btn.active {
    background-color: $blue;
    border-color: $blue-darker;
}

.blue-btn .badge {
    color: $blue;
    background-color: white;
}

.red-btn {
    color: white;
    background-color: $red;
    border-color: $red-darker;
}

.red-btn:hover, .red-btn:focus, .red-btn:active, .red-btn.active, .open .dropdown-toggle.red-btn {
    color: white;
    background-color: $red-dark;
    border-color: $red-darker;
}

.red-btn:active, .red-btn.active, .open .dropdown-toggle.red-btn {
    background-image: none;
}

.red-btn.disabled, .red-btn[disabled], fieldset[disabled] .red-btn, .red-btn.disabled:hover, .red-btn[disabled]:hover, fieldset[disabled] .red-btn:hover, .red-btn.disabled:focus, .red-btn[disabled]:focus, fieldset[disabled] .red-btn:focus, .red-btn.disabled:active, .red-btn[disabled]:active, fieldset[disabled] .red-btn:active, .red-btn.disabled.active, .red-btn[disabled].active, fieldset[disabled] .red-btn.active {
    background-color: $red;
    border-color: $red-darker;
}

.red-btn .badge {
    color: $red;
    background-color: white;
}

/*-----------------------------------*\
>  Header
\*-----------------------------------*/

header .navbar-inner {
    min-height: 0px;
}

.navbar-brand, header .navbar-nav li a {
    line-height: $header-height;
    height: $header-height;
    padding-top: 0;
    font-size: 1.3em;
}

header .mindup-large-screen .navbar-left a {
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
}

header .mindup-small-screen {
    text-align: center;
    display: table;
    table-layout: fixed;
    float:none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -11px;
}

header .mindup-small-screen span {
    margin-left: -11px;
}

@media (max-width: 767px) {
    header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
        background-color: $blue;
        box-shadow:none;
    }
    header .navbar-nav li a {
        line-height: $header-height/2;
        height: $header-height/2;
        padding-top: 0;
        font-size: 1.3em;
    }
    header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
        border-color: $blue !important;
    }
    header #hamburger {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 9px;
    }
}

.navbar-brand {
    padding-top: 11px;
}

.navbar-default {
    background: rgba($red, 0.95);
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight; }}
    .navbar-text {
        color: $colDefault; }
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover,  &:focus {
                    color: $colHighlight; }}}
        > .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
        > .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}
    .navbar-collapse,
    .navbar-form {
        border-color: $colDefault; }
    .navbar-link {
        color: $colDefault;
        &:hover {
            color: $colHighlight; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $colDefault;
            &:hover, &:focus {
                color: $colHighlight; }}
        > .active {
            > a, > a:hover, > a:focus, {
                color: $colHighlight;
                background-color: $bgHighlight; }}}
}

/*-----------------------------------*\
>  Description
\*-----------------------------------*/

#description {
    background-image: url("../img/map.jpg");
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: $grey-light;
    height: 480px;
}

#description h1 {
    text-align: right;
    color: white;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
    background-color: rgba($blue, 0.85);
    display:inline-block;
    float: right;
    padding: 10px;
    margin-bottom: 10px;
}

#description h2 {
    text-align: right;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
    background-color: rgba($blue, 0.85);
    display:inline-block;
    float: right;
    clear: both;
    padding: 10px;
    margin-top: 0;
}

@media (max-width: 767px) {
    #description h1, #description h2 {
        width: 100%;
    }
}

/*-----------------------------------*\
>  Download
\*-----------------------------------*/

#download {
    padding-top: 10px
}

#download nav {
    margin: 0;
}

#download li a {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    cursor: pointer;
}

#download :focus {
    outline:none;
}

#download ::-moz-focus-inner {
    border:0;
}

#download li a:hover, #download li a:active, #download li a:visited {
    background-color: transparent;
}

/*-----------------------------------*\
>  Showroom
\*-----------------------------------*/

#showroom {
    background-color: $blue;
}

#showroom .container {
    background-image: url("../img/showroom.png");
    background-position: center center;
    background-size: 992px;
    background-repeat: no-repeat;
    height: 713px + 150px;
}

@media (max-width: 992px) {
    #showroom .container {
        background-size: 496px;
        background-repeat: no-repeat;
        height: 357px + 75px;
    }
}

/*-----------------------------------*\
>  Review
\*-----------------------------------*/

#review {
    background-color: $red;
    margin-top: 25px;
}

#review .carousel-control.left, #review .carousel-control.right  {
    background:none;
    width:25px;
}

#review .block-text {
    background-color: $red-dark;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 15px 18px;
}

#review .block-text a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
}

#review .mark {
    padding: 12px 0;
    background:none;
}

#review .block-text p {
    color: $grey-light;
    font-style: italic;
    line-height: 20px;
}

#review .zmin {
    z-index: 1;
}

#review .person-text {
    padding: 10px 0 0;
    z-index: 2;
}

#review .person-text a {
    margin-left: 10px;
    color: $grey-light;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}

#review .person-text i {
    color: #fff;
    font-size: 13px;
}

#review .rel {
    position: relative;
}

#review .carousel, #review .carousel-inner > .item {
    display: run-in;
    width: 100%;
    height: auto!important;
}

#review .carousel-inner > .item > img,
#review .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
}

#review .carousel-container {
    margin-left:0;
}

/*-----------------------------------*\
>  Carousel
\*-----------------------------------*/

#useCase .carousel {
    height: $carousel-height;
}

#useCase .carousel-inner .item, #useCase .carousel-inner .active,  #useCase .carousel-inner .carousel-inner {
    height: $carousel-height;
}

#useCase .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#useCase .carousel-caption {
    top: auto;
    bottom: $carousel-height / 3;
}

#useCase .carousel-caption h2 {
    font-size: 4em;
}

@media (max-width: 992px) {
    #useCase .carousel {
        height: $carousel-height / 2;
    }
    #useCase .carousel-inner .item, #useCase .carousel-inner .active,  #useCase .carousel-inner .carousel-inner {
        height: $carousel-height / 2;
    }
    #useCase .carousel-caption {
        top: auto;
        bottom: $carousel-height / 6;
    }
    #useCase .carousel-caption h2 {
        font-size: 2em;
    }
}

/*-----------------------------------*\
>  Bêta-testeurs
\*-----------------------------------*/

#beta-testeurs {
    background-color: $blue;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#beta-testeurs .col-md-4 {
    text-align: left;
}

#beta-testeurs h2 {
    margin: 0;
    line-height: 46px;
    text-align: right;
}

@media (max-width: 992px) {
    #beta-testeurs {
        text-align: center !important;
        padding-top: 5px;
    }
    #beta-testeurs .col-md-8 h2 {
        text-align: center;
    }
    #beta-testeurs .col-md-4 {
        text-align: center;
    }
}

/*-----------------------------------*\
>  Social
\*-----------------------------------*/

#social {
    padding-bottom: 20px;
}

#social h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#social #facebook-widget, #social #twitter-widget {
    padding: 15px;
    margin: 0;
}

#social .fb-border {
    border: 1px solid $grey;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
}

#social .fb_iframe_widget, #social .fb_iframe_widget span, #social .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

#social .fb-like-box, #social .twitter-timeline {
    width: 100% !important;
}

#social .fb-like-box {
    background-color: white;
}

@media (max-width: 992px) {
    #social h2 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    #social #facebook-widget {
        padding-bottom: 0;
    }
}

/*-----------------------------------*\
>  Contact
\*-----------------------------------*/

#contact {
    background-color: $blue;
}

#contact textarea {
    resize: vertical;
}

#contact h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $grey-light;
}

#contact form button {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
}

/*-----------------------------------*\
>  Footer
\*-----------------------------------*/

footer {
    background-color: $red;
    color:white;
}

footer .navbar {
    margin: 0;
    border: none;
}

footer .navbar-nav li, footer .navbar-nav li a {
    line-height: $footer-height;
    height: $footer-height;
    padding-top: 0;
    color:white;
}

footer .navbar-nav li a:hover, footer .navbar-nav li a:active, footer .navbar-nav li a:visited, footer .navbar-nav li a.mailto:hover,footer .navbar-nav li a.mailto:active,footer .navbar-nav li a.mailto:visited {
    background-color: $red-dark;
}

@media (max-width: 767px) {
    footer .navbar-nav li {
        text-align: center;
    }
}

/*-----------------------------------*\
>  Policy
\*-----------------------------------*/

#policy p {
    font-size: 16px;
    font-family: Verdana, Geneva, sans-serif;
}

#policy p a, #policy p a:hover {
    color: $red;
}

